<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="fragments/nav-bar :: nav-bar"></header>

<div class="container">
    <div>
        <p></p>
        <h4>Пользователь № <span th:text="${account.id}"></span></h4>
        <p></p>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Дата создания</th>
                <th>Имя пользователя</th>
                <th>Email</th>
                <th>Имя</th>
                <th>Фамилия</th>
            </tr>
            <tr>
                <td th:text="${account.id}">id</td>
                <td th:text="${account.createTime}">createTime</td>
                <td th:text="${account.username}">username</td>
                <td th:text="${account.email}">Email</td>
                <td th:text="${account.firstName}">first name</td>
                <td th:text="${account.lastName}">last name</td>
            </tr>
        </table>
        <hr class="mb-4">
        <h4>Операции пользователя</h4>
        <div>
            <table class="table">
                <tr>
                    <th>Время</th>
                    <th>Исходная сумма</th>
                    <th>Исходная валюта</th>
                    <th>Сконвертированная сумма</th>
                    <th>Сконвертированная валюта</th>
                </tr>
                <tr th:each="exchange : ${account.getExchanges()}">
                    <td th:text="${exchange.timeStamp}">Time</td>
                    <td th:text="${exchange.value}">Value</td>
                    <td th:text="${exchange.currency}">Currency</td>
                    <td th:text="${exchange.exchangeValue}">Exchange value</td>
                    <td th:text="${exchange.exchangeCurrency}">Exchange currency</td>
                </tr>
            </table>
        </div>
    </div>

</div>
</body>
</html>