<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>
<body>

<header th:insert="fragments/nav-bar :: nav-bar"></header>

<div class="container">

    <div>
        <h1>Конвертер валют</h1>
        <h2><a href="/exchange">Конвертер валют</a></h2>
        <h2 sec:authorize="isAuthenticated()"><a href="/stats">Статистика</a></h2>
    </div>

</div>
</body>
</html>